// grid styles
.shop-page-wp-grid {
  .shop-page-wp-item {
    padding: 25px 30px;
    text-align: center;
    .shop-page-wp-title {
      h3 {
        font-size: 16px;
        margin: 8px 0 10px;
        padding-bottom: 0;
      }
    }
    // affiliate link styles
    .shop-page-wp-link {
      a.buy-link {
        border: 2px solid #444;
        color: #333;
        padding: 8px 13px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 0.7em;
        max-width: 200px;
        margin: 0 auto;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: #FFF;
          background-color: #333;
        }
        &.disabled {
          color: #AAA;
          border-color: #AAA;
          opacity: 0.7;

          &:hover {
            color: #AAA;
            background-color: transparent;
          }
        }
      }
    }
  }
}