.wp-block-gutenberg-boilerplate-es5-shop-page-wp {
    color: #333;
    background-color: #FAFAFA;
    border: 1px solid #EEE;
    padding: 10px;
}

/*.wp-block-gutenberg-boilerplate-es5-shop-page-wp input {

    padding-left: 15px;
}*/